@media screen and (max-width: 600px) {
	table{
		font-size: 3vw;
	}
}
  

.loader {
	width: 100px;
	height: 100px;
	margin: auto;
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	animation: spin 2s linear infinite;
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.panel-heading {
	cursor: pointer;
}

#collapse1 {
	position: absolute;
	background: #ffffff;
	z-index: 2;
	border: 1px solid #dddddd;
	width: 80%;
	left: 10%;
}

.dropdown-select {
	height: 30px;
  	line-height: 30px;
}

#countries {
	padding-left: 5px;
	height: 200px;
	overflow-y: scroll;
}

input[type="checkbox"]{
	width: 15px; /*Desired width*/
	height: 15px; /*Desired height*/
	cursor: pointer;
}

.pagination > li {
	cursor: pointer;
}

#applied-filters > span {
	font-weight: bold;
}

.table {
	border: 1px solid #dddddd;
	box-sizing: border-box;
}

.err-msg {
	color: red;
	font-weight: bold;
}

/* form {
	display: block;
	margin-bottom: 20px;
}

.form-group {
	display: inline-block;
	border: 1px solid #dddddd;
	text-align: center;
	padding: 15px;
}

.form-control {
	display: inline-block;
	margin-right: 30px;
} */

/* table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
  
td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
  
tr:nth-child(even) {
	background-color: #dddddd;
} */